{% extends 'base.html' %}
{% load static %}
{% block content %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'voicebot/style.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <div id="chat-room">
        <div class="message-box">
            <div class="message-group">
                <div class="chat-message other">
                    <section><i class="fa fa-user"></i></section>
                    <span>AI</span>
                    <div>대화를 입력해주세요</div>
                </div>
            </div>
        </div>
        <div class="input-box">
            <input type="text" id="text-input" onkeyup="if(window.event.keyCode==13){submit()} else{fill()}">
            <div class="btn-submit-off" onclick='submit()'>
                <span>전송</span>
            </div>
        </div>
    </div>
    
    {{ room_name|json_script:"room-name" }}
    <script>
        const roomName = JSON.parse(document.getElementById('room-name').textContent);

        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/voicebot/'
            + roomName
            + '/'
        );

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        function submit()  { 
            const messageInputDom = document.querySelector('#text-input');
            const message = messageInputDom.value;
            if (message == '') {
                return false;
            }
            chatSocket.send(JSON.stringify({
                'id': 0,
                'message': message
            }));
            const temp = document.querySelector('#chat-room > div.input-box > div').className = 'btn-submit-off';
            messageInputDom.value = '';
        }

        function fill() {
            const messageInputDom = document.querySelector('#text-input');
            const message = messageInputDom.value;
            if (message == '') {
                document.querySelector('#chat-room > div.input-box > div').className = 'btn-submit-off';
            }
            else {
                document.querySelector('#chat-room > div.input-box > div').className = 'btn-submit-on';
            }
        }

        var audio = new Audio();

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            
            var html = document.createElement("div");
            var section = document.createElement('section');
            var i = document.createElement('i');
            i.setAttribute("class", "fa fa-user");
            section.appendChild(i);
            html.appendChild(section);
            var span = document.createElement('span');
            var content = document.createElement("div");
            var text = document.createTextNode(data.message);
            content.setAttribute("data-path", data.path);
            content.appendChild(text);

            if (data.id == 0) {
                html.setAttribute("class", "chat-message mine");
                var text = document.createTextNode('홍길동');
            }
            else {
                html.setAttribute("class", "chat-message other");
                var text = document.createTextNode('AI');
                content.onclick = function(){
                    audio.pause();
                    audio = new Audio('../media/tts/' + content.getAttribute('data-path'));
                    audio.play();
                };
            }
            span.appendChild(text);
            html.appendChild(span);
            html.appendChild(content);
            
            document.querySelector('#chat-room .message-group:last-child').append(html);

            var boxDiv = document.getElementsByClassName('message-box');
            boxDiv[0].scrollTop = boxDiv[0].scrollHeight;

            if (data.id == 1) {
                audio.pause();
                audio = new Audio('../media/tts/' + data.path);
                audio.play();
            }
        };

    </script> 
{% endblock%}