{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block content %}
<link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

<div class='ani_containerbox'>
    <div class="ani_text">
		<h1 class = 'ani_c_t'> 내가 이세계에선 만화주인공?! </h1>
        <p></p>
        <h2 class = 'ani_c_t2'> 또 다른 나를 찾아보세요! </h2>
    </div>

    <section>
        <div id='ani_form'>
        <img src = '/static/ani/imgs/namju.jpg' width='40%'>
        <img src = '/static/ani/imgs/iu.jpg' width='40%'>
        <p></p>
        주의사항: 파일명 영어필수! , 흐리거나 어두운 사진 x, 증명 사진은 잘 안나와요 ㅠ
        <p></p>
        그냥 모달 같은걸로 안 되는 예시 띄울까 생각중.
        <p></p>
        </div>
    <form method="POST" action="{% url 'ani:fileupload' %}" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form fileuploadForm %}
        <input type="submit" class="btn-get-started" value="👉 CLICK HERE! 👈">
    </form> 

</section>

<section>
</section>
{% endblock%}
