<!DOCTYPE html>
<html>
    {% comment %} <script src="{% static 'assets/js/jwt-decode.js' %}"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script> {% endcomment %}
    <script>
        // jwt 토큰의 사용자 정보를 가져오는 참고용 코드
        access_token = "{{ access_token }}"

        decoded = jwt_decode(access_token)
        user_id = decoded.user_id

        localStorage.setItem('access_token', access_token)
        localStorage.setItem('user_id', user_id)

        console.log(localStorage.getItem('access_token'))
        console.log(localStorage.getItem('user_id'))
        
        
        // refresh_jwt로 토큰 재발급을 요청하는 참고용 코드
        axios({
            url: 'http://127.0.0.1:8000/member/refresh_jwt',
            method: 'get'
        })
        .then((result) => console.log(result.data))


        // logout
        // localStorage.clear()
    </script>
</html>
