{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block content %}
<link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

<style>
  #update_success {
      font-family: 'S-CoreDream-4Regular';
  }
</style>

<div class="jumbotron">
  <div class="container text-center" id="update_success" style="margin-top:200px;">
    <h1>글 수정이 완료되었습니다.</h1>
    <button type="button" class="btn btn-info btn-lg btn-block" onclick="location.href='/board/list/'">
      Go to Board
    </button>
  </div>
</div>

{% endblock %}
