{% extends 'base.html' %}
{% load static %}
  {% block content %}
  
  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container">
      <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

        <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

        <div class="carousel-inner" role="listbox">

          <!-- Slide 1 -->
          <div class="carousel-item active" style="background: url({% static 'assets/img/slide/sky2.jpg' %})">
            <div class="carousel-container">
              <div class="carousel-content">
                <h2 class="animate__animated animate__fadeInDown">Welcome to <span>AI Playground</span></h2>
                <p class="animate__animated animate__fadeInUp"><hr></p>
                <a href="{% url 'pcolor:pcimgupload' %}" class="btn-get-started animate__animated animate__fadeInUp">AI와 퍼스널컬러 진단하기</a>
              </div>
            </div>
          </div>

          <!-- Slide 2 -->
          <div class="carousel-item " style="background: url({% static 'assets/img/slide/pg222.jpg' %})">
            <div class="carousel-container">
              <div class="carousel-content">
                <h2 class="animate__animated fanimate__adeInDown">Welcome to <span>AI Playground</span></h2>
                <p class="animate__animated animate__fadeInUp"><hr></p>
                <a href="{% url 'ani:fileupload' %}" class="btn-get-started animate__animated animate__fadeInUp">AI와 만화속으로</a>
              </div>
            </div>
          </div>

          <!-- Slide 3 -->
          <div class="carousel-item " style="background: url({% static 'assets/img/slide/pg333.jpg' %})">
            <div class="carousel-container">
              <div class="carousel-content">
                <h2 class="animate__animated animate__fadeInDown">Welcome to <span>AI Playground</span></h2>
                <p class="animate__animated animate__fadeInUp"><hr></p>
                <a href="{% url 'voicebot:index' %}" class="btn-get-started animate__animated animate__fadeInUp">AI보이스봇과 대화하기</a>
              </div>
            </div>
          </div>


        </div>

        <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
          <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
        </a>

        <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
          <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
        </a>

      </div>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Featured Section ======= -->
    <section id="featured" class="featured">
      <div class="container">

        <div class="row">
          <div class="col-lg-4">
            <div class="icon-box">
              <i class="bi bi-card-checklist"></i>
              <h3><a href="{% url 'pcolor:pcimgupload' %}">퍼스널컬러</a></h3>
              <p>AI 기술을 활용해 지금 바로 당신의 퍼스널 컬러를 확인해보세요. 잘 어울리는 색을 추천해드리겠습니다.</p>
            </div>
          </div>
          <div class="col-lg-4 mt-4 mt-lg-0">
            <div class="icon-box">
              <i class="bi bi-bar-chart"></i>
              <h3><a href="{% url 'ani:fileupload' %}">AI와 만화속으로</a></h3>
              <p>최신 GAN 기술로 셀카를 애니메이션으로 변환해주는 놀이터입니다. 여러가지 사진으로 도전하고 체험해보세요.</p>
            </div>
          </div>
          <div class="col-lg-4 mt-4 mt-lg-0">
            <div class="icon-box">
              <i class="bi bi-binoculars"></i>
              <h3><a href="{% url 'voicebot:index' %}">AI보이스봇</a></h3>
              <p>Transformer와 Tacotron으로 구현된 AI 보이스봇과 대화를 나눠보세요.</p>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Featured Section -->
    {% endblock %}