.bg {
  background: skyblue;
}

.balloon0 {
  position: relative;
  width: auto;
  background: white;
  height: 50px;
  opacity: 0;
  border-radius: 10px;
  resize: none;
  overflow: hidden;
}

.balloon1 {
  position: relative;
  margin-left: 0px;
  width: auto;
  height: 50px;
  background: white;
  border-radius: 10px;
  resize: none;
  overflow: hidden;
  text-align: left;
}

.balloon2 {
  position: relative;
  margin-left: 200px;
  width: auto;
  height: 50px;
  background: yellow;
  border-radius: 10px;
  resize: none;
  overflow: hidden;
  text-align: right;
}

.select {
  margin: 50px;
  position: relative;
}

.div-select {
  margin: 50px;
  text-align: center;
}