{% extends 'index.html' %}
{% load static %}
{% load bootstrap4 %}
{% block content %}

<style>
 .containerbox {
  background-color: white;
  padding-bottom: 250px;
  text-align: center;
 }

 @font-face {
    font-family: 'GangwonEdu_OTFBoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'EliceDigitalBaeum-Bd';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_elice@1.0/EliceDigitalBaeum-Bd.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
 .imgbox {
   padding-top: 10rem;
   text-align:center
 }
 .c_t{
  font-family: 'GangwonEdu_OTFBoldA';
 }
 #form{
   padding-top: 30px;
   font-family: 'GangwonEdu_OTFBoldA';
   text-align:center
 }
 img {
 height: 40%;
 width: 40%;
 object-fit: scale-down;
  border-radius: 8%;
}

#pcform{

margin-top: 20px;
}

#pcimg{
    display: inline-block;
    height: 40px;
    padding: 0 10px;
    vertical-align: middle;
    border: 1px solid #dddddd;
    width: 78%;
    color: #999999;
}




.swal-text{

color: black;
font-family: 'GangwonEdu_OTFBoldA';
font-size:30px

}

.swal-button{
color: white;
background-color: #FFAB73;

}
.swal-footer {
  text-align: center;
}

button.swal-button.swal-button--confirm:hover{

  background-color: #FEA82F;
}

button.swal-button.swal-button--confirm:focus{
    outline: none;
}  


#form .upload-name {
    display: inline-block;
    height: 50px;
    padding: 0 30px;
    vertical-align: middle;
    border: 1px solid #dddddd;
    width: 25%;
    color: #999999;
    border-radius: 10px;
}

input:focus {outline:2px solid #FEA82F;}

#form label {
    display: inline-block;
    padding: 13px 20px 0px 20px;
    /* color: #fff; */
    vertical-align: middle;
    /* background-color: #FEA82F; */
    background-color: #fff;
    color: #FEA82F;
    cursor: pointer;
    height: 50px;
    margin-left: 10px;
    border-radius: 10px;
    border: solid 1px #FEA82F;

}

#form label:hover{
  background-color: #FEA82F;
  color: #fff;
  


}
#form input[type="file"] {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}


#form button[type="submit"] {
    display: block;
    margin: 0 auto;
    margin-top: 40px;
}

.btn-grad {
  margin: 50px;
  padding: 5px 45px;
  text-align: center; 
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  background-color: white;
  color: #FEA82F;            
  border-radius: 10px;
  display: block;
  font-size:25px;
  padding-top: 10px;
  border-style: none;
  border: solid 1px #FEA82F;

  }

  .btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  background-color: #FEA82F;
  text-decoration: none;
  }

</style>
<div class="container" id="b">
  <div class="containerbox">
    <div class="imgbox">
          <img src="{%static 'pcolor/imgs/test3.jpg' %}">  
    </div>
      <div>
      </div>
    <div id="form">
      <form action="{% url 'pcolor:pcimgupload' %}" method="POST" enctype="multipart/form-data" id="pcform">
        {% csrf_token %}

        <input class="upload-name" value="사진을 첨부해주세요📷" placeholder="사진을 첨부해주세요📷"> <label for="pcimg">파일 찾기</label> <input type="file" name="image" id="pcimg" accept=".png,.jpg" onchange="checkFile(this)">

        <button class="btn-grad" type="submit" value="Submit" id="submit">테스트 하기 </button>
    </form> 
    </div>


   </div>
  </div>
</div>



<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script>
$("#pcimg").on('change',function(){
  var fileName = $("#pcimg").val();
  var name=fileName.substring(fileName.lastIndexOf('\\') + 1);
  $(".upload-name").val(name);
  $(".upload-name").css('color','orange');
  

});

function checkFile(f){
var file = f.files;
if(!/\.(jpg|jpeg|png)$/i.test(file[0].name)){
swal('jpg, png 파일만 선택해 주세요 😵 \n현재 파일 : ' + file[0].name );
}
else return;
f.outerHTML = f.outerHTML;
}
document.getElementById("submit").onclick = function(e) {
  if (document.getElementById("pcimg").value == "") {
    e.preventDefault();

  swal({
  text: "사진을 첨부해주세요📸"
})
 }
}

</script>


{% endblock%}