{% extends 'index.html' %}
{% load static %}
{% block content %}

  <section id="contact" class="contact">
    <div class="container" style="display: flex; justify-content: center">
          <form action="{% url 'member:signup' %}" method="post" role="form" class="php-email-form">
            {% csrf_token %}
            <div class="row">
              <div class="col-md-6 form-group">
                <input type="text" name="user_id" class="form-control" id="name" placeholder="UserID" required>
              </div>
              <div class="col-md-6 form-group mt-3 mt-md-0">
                <input type="password" class="form-control" name="password" id="email" placeholder="Password" required>
              </div>
            <div>
            <div class="form-group mt-3">
              <textarea class="form-control" name="profile_text" rows="5" placeholder="Profile_text" required></textarea>
            </div>

            <div class="text-center"><button type="submit">Signup</button></div>
          </form>
      </div>
    </section>
{% endblock %}
