{% extends 'base.html' %}
{% load static %}
{% block content %}

<script src="{% static 'member/jwt-decode.js' %}"></script>
<script>
  access_token = "{{ access_token }}"

  if (access_token === 'logout') {
    localStorage.clear()
    window.location.href =  "http://127.0.0.1:8000/"
  }

  decoded = jwt_decode(access_token)
  user_id = decoded.user_id

  localStorage.setItem('access_token', access_token)
  localStorage.setItem('user_id', user_id)

  if (access_token) {
    window.location.href =  "http://127.0.0.1:8000/"
  }
</script>

<link href="{% static 'member/styles.css' %}" type="text/css" rel="stylesheet"/>
<section id="member-container">
  <div id="member-box">
    <form id="member-form" action="{% url 'member:login' %}" method="post" role="form">
      {% csrf_token %}
      <div class="member-form-div1">
        <input class="member-form-elm1" id="name" type="text" name="user_id" placeholder="UserID" required>
      </div>
      <div class="member-form-div1">
        <input class="member-form-elm1" id="password" type="password" name="password" placeholder="Password" required>
      </div>
      <div class="member-form-div2">
        <span class="member-form-elm2">
          <a href="{% url 'member:signup' %}">Signup</a>
        </span>
        <button type="submit">Login</button>
      </div>
    </form>
  </div>
</section>

{% endblock %}