{% extends 'base.html' %}
{% load static %}
{% block content %}

<link href="{% static 'member/styles.css' %}" type="text/css" rel="stylesheet"/>
<section id="member-container">
  <div id="member-box">
    <form id="member-form" action="{% url 'member:signup' %}" method="post" role="form">
      {% csrf_token %}
      <div class="member-form-div1">
        <input class="member-form-elm1" id="user_id" type="text" name="user_id" placeholder="UserID" required>
      </div>
      <div class="member-form-div1">
        <input class="member-form-elm1" id="password" type="password" name="password" placeholder="Password" required>
      </div>
      <div class="member-form-div1">
        <input class="member-form-elm1" id="email" type="email" name="email" placeholder="Email" required>
      </div>
      <div class="member-form-div2">
        <span class="member-form-elm2">
          <a href="{% url 'member:find_user' %}">Forgot?</a>
        </span>
        <button type="submit">Signup</button>
      </div>
    </form>
  </div>
</section>

{% endblock %}